
body.welcomePage{
  background: #C9FFBF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}
body.skillPage{
  background-color: lightgreen;
  height: 100%;
  width: 100%;
}
nav.navbar.navbar-default{
  border-radius: 0px;
}


/* Welcome Starts*/

div#welcomePage.jumbotron{
  height: 60px;
  background-color: white;
}
/* button.btn.btn-default{
  position: relative;
  float: right;
  top: -25px;
  padding: 20px 20px;
  border-color: lightblue;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
} */

/* h1#name{
  position: absolute;
  top: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
} */
div.mainContent{
  margin: 10% auto;
  margin-left: 100px;
}
#hello{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
#intro{
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}
a#meImg.thumbnail{
  margin-top: 80%;
  margin-left: 55px;
  /* float: left; */
  width: 170px;
  height: auto;
}
ul li.hideNav{
  display: none;
}


@media (max-width: 1000px ){
  div.col-lg-1.pgNav{
    height: 0px;
    width: 0px;
    display: none;
  }
  a#meImg.thumbnail{
    margin-top: 70%;
    margin-left: 30%;
    /* float: left; */
    width: 170px;
    height: auto;
  }
  ul li.hideNav{
    display: block;
  }
  a#meImg.thumbnail{
    margin-top: 10%;
  }
}

/* Welcome ends*/

/* Skills Starts*/
button.btn.btn-success{
  position: relative;
  float: right;
  margin-top: 5%;
  padding: 20px 20px;
  border-color: lightblue;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
}
body.skillPage{
  background-image: url("coding.jpg");
  background-size: cover;
}

div.mainSkills.col-lg-11{
  position: relative;
  margin: 5% 10%;
  text-align: center;
  border: 1px dashed white;
  background-color: white;
  width: 65%;
}
span.subHeader{
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
p#skillList{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}

h1#skillHeader{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 5%;
  border: 4px dashed white;
  width: 12%;
  text-align: center;
}

/* MajorProjects Starts here */
body.majorProj{
  /* background-image: url("mP.jpg"); */
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button.btn.btn-warning{
  float: right;
  margin-top: 4%;
  padding: 20px 20px;
  border-color: lightblue;
  margin-right: 50px;
  font-family: 'Lato', sans-serif;
}
h1#ProjHeader{
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 4%;
  margin-left: 40%;
  width: 20%;
  text-align: center;
  background-color: black;
  border: 2px dashed orange;
}

div#gridProjects{
  margin-top: 3%;
  padding-left: 20px;
  padding-right: 20px;
}
div#skills_P,
div#compEng_P,
div#website_P,
div#github_P{
  margin-top: 10px;
  margin-left: 80px;
  color: white;
  font-size: 20px;
  /* background-color: black; */
  font-family: 'Indie Flower', cursive;
}

span#icon {
  background-image: url('logo.png');
  height: 20px;
  width: 20px;
}

div.vert-Nav-Bars{
  margin-top: 20%;
  margin-left: 2%;
}

/* contact me */
body.contactMePage{
  background: #6D6027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contactJumbo{
  margin-top: 5%;
}

#thanks{
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}



/*  Nav bars */
ul.navDashes{
  list-style: none;
  margin-top: 15%;
  margin-left: 20px;
  padding: 0;
  width: 200px;
}

ul.skillsNav{
  width: 200px;
  margin-left: 70px;
}
ul.mPnav{
  margin-left: 20px;
}

.fa-arror-right{
  float: right;
}

div.col-lg-1.pgNav{
  margin-top: 10%;
}

li span.dash{
  line-height: 40px;
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 20px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 1.0;
}

li span.dash_text{
  display: none;
  opacity: 0;
  padding: 10px;
  margin-left: -20px;
  background-color: lightblue;
}
li:hover span.dash{
  width: 40px;
  opacity: 1.0;
  margin-top: 10px;
  background-color: lightblue;
}

li span.active{
  background-color: lightgrey;
}

li:hover span.dash_text{
  transition: 0.2s linear;
  display: inline-block;
  opacity: 1.0;
}
